<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDAS Assessment</title>

    <link rel="stylesheet" href="../static/assets/css/index.css">
    <link rel="stylesheet" href="../static/assets/css/animation.css">
    <link rel="stylesheet" href="../static/assets/css/tab/customAlert.css">
    <link rel="stylesheet" href="../static/assets/css/page/settings.css">
    <link rel="stylesheet" href="../static/assets/css/page/activity.css">
    <link rel="stylesheet" href="../static/assets/css/page/calculator.css">
    <link rel="stylesheet" href="../static/assets/css/table/table.css">
    <link rel="stylesheet" href="../static/assets/css/online/online.css">
    <link rel="icon" href="../static/assets/favicon/icon.png">


    <meta property="og:title" content="MDAS Assessment">
    <meta property="og:description" content="Assess Your Mental Calculation Skills">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/favicon/opengraph_.png">
    <!-- <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080"> -->
    <!-- <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512"> -->

    <script src="../static/assets/js/init.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/13.0.0/math.js" defer></script>
</head>

<body>
    <div class="nav_bar">
        <div class="nav_home" data-nav_home="">
            Home
        </div>
        <div class="nav_rank" data-nav_rank="">
            Online&nbsp;Rank
        </div>
        <div class="nav_table" data-nav_table="">
            Table
        </div>
        <div class="nav_calculator" data-nav_calculator="">
            Calculator
        </div>
        <div class="nav_tutorials" data-nav_tutorials="">
            Tutorials
        </div>
        <div class="nav_settings" data-nav_settings>
            Settings
        </div>
    </div>

    <div class="rank_wrapper" data-rank_wrapper="">
        {% for record in records %}
            <div>
                <h3>{{ record['username'] }}'s rate/mins</h3>
                <ul>
                    {% for key, value in record.items() %}
                        {% if key != "_id" and key != "username" and key != "password"%}
                            <li>{{ key }}: {{ value|float * 60}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="equation_table_wrapper" data-equation_table_wrapper="">

    </div>

    <div class="settings_wrapper" data-settings_wrapper="">
        <fieldset class="option_fieldset">
            <Legend>
                Miscellaneous
            </Legend>
            <div class="option_preference_wrapper ">
                <input type="text" class="option_sub_wrapper default_button" placeholder="username" data-username_input="" maxlength="64">
                <input type="text" class="option_sub_wrapper default_button" placeholder="password" data-password_input="" maxlength="64">
                <div class="option_sub_wrapper default_button" data-survey="" id="survey">
                    Suggestion/Survey?
                </div>
                <div class="option_sub_wrapper default_button" data-reset_preference="" id="reset_preference">
                    Reset Saved Preference
                </div>
            </div>
        </fieldset>
        <hr>
        
        <fieldset class="option_fieldset">
            <legend>
                Options (To Be Implemented, Any Option Below Won't Work, The App will be refactored at my Free time, probably November?)
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <p>
                    No Usage Yet
                </p>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Addition
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Subtraction
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Multiplication
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Division
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Percentage
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Exponent/Power
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Radical
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Factorial
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Prime
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Divisible
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="">
                        Words (Miscellaneous)
                    </label>
                    <input data-="" id="" type="checkbox" />
                </div>

            </div>
        </fieldset>
        <hr>
        <fieldset class="option_fieldset">
            <legend>
                Random Number Selector
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Generate Random Numbers
                </h2>
                <ul>
                    <li>
                        Mininum Number: Lowest Number To Be Selected
                    </li>
                    <li>
                        Maximum Number: Highest Number To Be Selected
                    </li>
                    <li>
                        Number Of Terms: Amount of Number/s To Be Present
                    </li>
                    <li>
                        Repeat Itself: Make a "Random Number" Place/Set on Every Terms (Implemented Only with
                        Multiplication, Addition, and Subtraction)
                    </li>
                </ul>
                <h3>
                    Note: Power Option
                </h3>
                <ul>
                    <li>
                        Base was based on `Minimum and Maximun Number`
                    </li>
                    <li>
                        Exponent was based on `Number of Terms`
                    </li>
                </ul>

                <h3>
                    Note: MDAS Option
                </h3>
                <ul>
                    <li>
                        Each Operator Amount was totally random based on `Number of Terms` (eg. x, /, +, -)
                    </li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_sub_wrapper">
                    <label for="minnumber_input">
                        Minimum Number
                    </label>
                    <input data-minnumber_input="" id="minnumber_input" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="maxnumber_input">
                        Maximum Number
                    </label>
                    <input data-maxnumber_input="" id="maxnumber_input" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="terms_input">
                        Number of Terms
                    </label>
                    <input data-terms_input="" id="terms_input" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="repeat_itself">
                        Repeat Itself
                    </label>
                    <input data-repeat_itself="" id="repeat_itself" type="checkbox" />
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset class="option_fieldset">
            <legend>
                Number Types
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Set Number Types
                </h2>
                <ul>
                    <li>
                        Steps: Depends On "Random Number Selector" Ranges, 0 Means No Effect
                    </li>
                    <li>
                        Set To: Set if Either it Stays Integer or Float/Decimal
                    </li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_sub_wrapper">
                    <label for="number_steps">
                        Steps
                    </label>
                    <input data-number_steps="" id="number_steps" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="number_type">
                        Set To:
                    </label>
                    <select id="number_type">
                        <option value="Integer" selected>Integer</option>
                        <option value="Float">Float</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset class="option_fieldset">
            <legend>
                Target Number Selector
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Generate Random Target Numbers
                </h2>
                <p>
                    description: Usually Implemented to MDAS (multiplication, division, addition, and subtraction)
                </p>
                <p>
                    Only And Usually The Last Term/Number Was Replaced By This. With Little Difference For
                    Multiplication Which Is Reverse (The Front Was Replaced)
                </p>
                <ul>
                    <li>
                        Target Number: Activate "Target Number Selector"
                    </li>
                    <li>
                        Mininum Target Number: Lowest Number To Be Selected
                    </li>
                    <li>
                        Maximum Target Number: Highest Number To Be Selected
                    </li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_checkbox_wrapper">
                    <label for="target_number">
                        Target Number
                    </label>
                    <input data-target_number="" id="target_number" type="checkbox" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="mintarget_input">
                        Minimum Target Number
                    </label>
                    <input data-mintarget_input="" id="mintarget_input" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="maxtarget_input">
                        Maximum Target Number
                    </label>
                    <input data-maxtarget_input="" id="maxtarget_input" />
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset class="option_fieldset">
            <legend>
                Countdown
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Countdown
                </h2>
                <ul>
                    <li>
                        Has Timer: Activate `Countdown`
                    </li>
                    <li>
                        Countdown Number (By Seconds Min: 10 secs): Usually Can Be Set To Any Seconds, But After The
                        Countdown Is Finish It Would Prompt Your Solving Rate Per Minute
                    </li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_checkbox_wrapper">
                    <label for="has_countdown">
                        Has Timer
                    </label>
                    <input data-has_countdown="" id="has_countdown" type="checkbox" />
                </div>
                <div class="option_sub_wrapper">
                    <label for="countdown_number">
                        Countdown Number (By Seconds)
                    </label>
                    <input data-countdown_number="" id="countdown_number" />
                </div>
            </div>
        </fieldset>
        <hr>

        <fieldset class="option_fieldset">
            <legend>
                Audio Settings
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Audio Settings! (still buggy)
                </h2>
                <ul>
                    <li>
                        Answer Queue: Enabled/Disabled Answer Queue Sounds
                    </li>
                    <li>
                        Answer Queue Volume: Answer Queue's Volume Configure Between 0 and 1 Only
                    </li>
                    <li>
                        Countdown Queue: Enabled/Disabled Countdown Queue Sounds
                    </li>
                    <li>
                        Countdown Queue Volume: Countdown Queue's Volume Configure Between 0 and 1 Only
                    </li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_checkbox_wrapper">
                    <label for="has_answer_queue">
                        Answer Queue
                    </label>
                    <input data-="has_answer_queue" id="has_answer_queue" type="checkbox" checked />
                </div>
                <div class="option_sub_wrapper">
                    <label for="answer_queue_volume">
                        Answer Queue Volume
                    </label>
                    <input type="range" data-answer_queue_volume="" id="answer_queue_volume"
                        placeholder="between 0 and 1" style="padding: 0;" />
                </div>
                <div class="option_checkbox_wrapper">
                    <label for="has_countdown_queue">
                        Countdown Queue
                    </label>
                    <input data-="has_countdown_queue" id="has_countdown_queue" type="checkbox" checked />
                </div>
                <div class="option_sub_wrapper">
                    <label for="countdown_queue_volume">
                        Countdown Queue Volume
                    </label>
                    <input type="range" data-countdown_queue_volume="" id="countdown_queue_volume"
                        placeholder="between 0 and 1" style="padding: 0;" />
                </div>
            </div>
        </fieldset>

        <hr>
        <fieldset class="option_fieldset">
            <legend>
                Theme
            </legend>
            <details class="option_details">
                <summary>
                    Usage
                </summary>
                <h2>
                    Theme
                </h2>
                <ul>
                    <li> Dark Mode: Turns to DarkMode</li>
                </ul>
            </details>
            <div class="option_preference_wrapper">
                <div class="option_checkbox_wrapper">
                    <label for="dark_mode">
                        Dark Mode
                    </label>
                    <input data-="dark_mode" id="dark_mode" type="checkbox" />
                </div>
            </div>
        </fieldset>
    </div>
    <div class="main_wrapper">
        <div class="display_score" data-display_score="">
            0
        </div>
        <div class="multiswitch_bar" data-multiswitch_bar="">
            <!-- <input class="display_term" data-display_term /> -->
            <div class="solving_bar" data-solving_bar="">
                <select class="display_term" name="display_term" data-display_term id="display_term">
                    <option data-option_display="" value="option_display">&lt; option &gt;</option>

                    <option value="addition">addition</option>
                    <option value="subtraction">subtraction</option>
                    <option value="multiplication">multiplication</option>
                    <option value="division">division (division Issue)</option>
                    <option value="MDAS">MDAS (difficulty: Insane)</option>
                    <option value="percentage">percentage</option>
                    <option value="power">exponent/power</option>
                    <option value="prime">prime (true or false)</option>
                    <option value="words">words</option>
                </select>
                <input class="display_input" data-display_input="" value="" placeholder="Here..." />
            </div>
            <div class="calculator_bar" data-calculator_bar style="display: none;">
                <div class="lcd">
                    <div class="lcd_big" data-lcd_big="">

                    </div>
                    <div class="lcd_small" data-lcd_small="">

                    </div>
                </div>
                <div class="event_wrapper">
                    <div data-reset_event="">AC</div>
                    <div data-backspace_event="">&#8592;</div>
                    <div data-switchinteger_event="">
                        <!-- +/- -->
                    </div>
                    <div data-sign_event="">÷</div>
                    <div data-number_event="">7</div>
                    <div data-number_event="">8</div>
                    <div data-number_event="">9</div>
                    <div data-sign_event="">x</div>
                    <div data-number_event="">4</div>
                    <div data-number_event="">5</div>
                    <div data-number_event="">6</div>
                    <div data-sign_event="">-</div>
                    <div data-number_event="">1</div>
                    <div data-number_event="">2</div>
                    <div data-number_event="">3</div>
                    <div data-sign_event="">+</div>
                    <div data-percent_event="">%</div>
                    <div data-number_event="">0</div>
                    <div data-number_event="">.</div>
                    <div data-equal_event="">=</div>
                </div>
            </div>


        </div>
        <div class="history_collapse" data-history_collapse>
            <img src="../static/assets/favicon/less_than.png" alt="&lt;">
        </div>
        <div class="history_bar" data-history_bar="">
            <div class="history_bar_label">
                Recent History
            </div>
            <div class="history_list" data-history_list="">
                <!-- <div class="hlist">
                    2 x 3 = 6
                </div> -->
            </div>
        </div>
    </div>
    <noscript style="z-index: 100; display: flex; justify-content: center; align-items: center; height: 100dvh; width: 100dvw; position: absolute; top: 0; left: 0; font-family: Arial, Helvetica, sans-serif; font-size: 2em; background-color: aliceblue;">
        Javascript Was Turn Off
    </noscript>
</body>

</html>