.custom_alert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50% ,-50%);

    border: solid 2px var(--primary);
    border-radius: 1rem;

    padding: 1.3rem;
    background-color: var(--tertiary);
    /* box-shadow: 1px 1px 1px black; */

    gap: 20px;
}

.alert_text {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    padding: 1.3rem;
    width: 100%;

    /* border: solid 1px var(--primary); */
    border-radius: 4px;
    max-height: 300px;
    color: var(--primary);
    text-shadow: 1px 1px 1px var(--primary-text);

    word-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.alert_option {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.alert_cancel {
    padding: .7rem .9rem;
    background-color: var(--primary);
    color: var(--primary-text);
    text-shadow: 1px 1px 1px black;
    outline: none;

    /* border: solid 1px var(--primary); */
    border: solid 0px;
    border-radius: 4px;
    font-size: 1.3rem;
}

.alert_confirm {
    padding: .7rem .9rem;
    background-color: rgb(39, 184, 39);
    color: var(--primary-text);
    text-shadow: 1px 1px 1px black;
    outline: none;

    /* border: solid 1px var(--primary); */
    border: solid 0px;
    border-radius: 4px;
    font-size: 1.3rem;
}

.alert_cancel:hover {
    scale: 1.1;
    transform: .2s ease;
}
.alert_confirm:hover {
    scale: 1.1;
    transform: .2s ease;
}

.alert_cancel:active {
    scale: 1;
    transform: .2s ease;
    box-shadow: 0px 0px 2px black;
}
.alert_confirm:active {
    scale: 1;
    transform: .2s ease;
    box-shadow: 0px 0px 2px black;
}
